<nav class="bottom-nav">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="nav-icon">⌂</span>
      <span>Inicio</span>
    </a>
  
    <a
      routerLink="/routines"
      routerLinkActive="active"
    >
      <span class="nav-icon">▤</span>
      <span>Rutinas</span>
    </a>
  
    <a
      routerLink="/history"
      routerLinkActive="active"
    >
      <span class="nav-icon">◷</span>
      <span>Historial</span>
    </a>
  
    <a
      routerLink="/progress"
      routerLinkActive="active"
    >
      <span class="nav-icon">↗</span>
      <span>Progreso</span>
    </a>
  
  </nav>